body{
    margin: 10 10 10 10;
    background-image: linear-gradient(to right, red , yellow);
}

.image { 
    width: 250px;
    height:250px ;
    border-radius: 50%;
  }
  
  .container{
    display: inline-flex;
    padding-left: 30px;
  }
  
  #text1, #text2, #text3,#text4{
    text-align: justify;
   padding-left: 30px;
   padding-right: 50px;
   padding-top: 150px;
    font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  

    h1{
      font-size: 50px;
     color: rgb(36, 1, 1);
    }
    
    h2{
      padding-top: 30PX;
      padding-left: 30px;
     }

  